{% extends 'littlebytes/base_main.html' %}
{% block title %}
    <title>Add Transaction</title>
{% endblock %}
{% block nvgbar %}
    <h1>Add Transaction</h1>
{% endblock %}
{% block report %}
    {% ifnotequal error "" %}
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr><th class="login-error-notification">{{error}}</th></tr>
{#                get this one to show only if successfully added#}
                {% ifnotequal transaction.id "" %}
                    <tr>
                        <th>You can
                            <a href="{% url 'add_sale' %}" class="login100-form-credits">Add another transaction</a>
                            or go back to
                            <a href="{% url 'sales' %}" class="login100-form-credits">Sale Records</a>
                        </th>
                    </tr>
                    </thead>
                {% endifnotequal %}
            </table>
        </div>
    {% else %}
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th>Store</th>
                    <th>Box Code</th>
                    <th>Type</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <form method="post" id="form_add" action="/sales/add/">{% csrf_token %}
                <input type="hidden" name="confirm" value=""></input>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr>
                        <td>
                            <select class="full_select" name="store" required>
                                {% for store in stores %}
                                    <option value="{{store.id}}">{{store}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="full_select" name="barcode" required>
                                {% for box in boxes %}
                                    <option value="{{box.barcode}}">{{box.barcode}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="full_select" name="type" required>
                                <option value="w">Walk-in</option>
                                <option value="c">Catering</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="container-login100-form-btn login100-form-btn">
                                <input type="submit" class="navigation-link-btn" value="Add Transaction"
                                       onclick="document.getElementById('form_add').submit()"/>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    {% endifnotequal %}
{% endblock %}