{% load staticfiles %}
<head>
    {% block title %}
    {% endblock %}
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/util.css' %}">
    <!--===============================================================================================-->
</head>
<body onload="reassign();">
{% if form.errors %}
    {% block errormsg %}
    {% endblock %}
{% endif %}
{% block formPost %}
{% endblock %}
{% csrf_token %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-80">
            <form class="login100-form validate-form">
                {% block header %}
                {% endblock %}
                <br/>
                {% block body %}
                {% endblock %}
            </form>
        </div>
    </div>
</div>
</form>
<script type="text/javascript">
    function reassign() {
        document.getElementById("id_password").className = "input100";
        document.getElementById("id_username").className = "input100";
        document.getElementById("id_password1").className = "input100";
        document.getElementById("id_password2").className = "input100";
        document.getElementById("id_email").className = "input100";
    }
</script>
</body>
