{% extends 'littlebytes/base_main.html' %}
{% block title %}
    <title>Inventory</title>
{% endblock %}
{% block nvgbtn %}
    <div class="btn-navigate-group">
        <button>
            <a href="{% url 'logout' %}" class="navigation-link-btn" >Logout</a>
        </button>
        <button>
            <a href="{% url 'reports' %}" class="navigation-link-btn">Reports</a>
        </button>
        <button>
            <a href="{% url 'sales' %}" class="navigation-link-btn">Sales</a>
        </button>
    </div>
{% endblock %}
{% block nvgbar %}
    <h1 class="login100-form-title">LittleBytes Inventory</h1>
    <h2>
        <div class="w3-dropdown-hover w3-white">
            Check Stocks
            <i class="fa fa-caret-down"></i>
            <div id="dropdown" class="w3-dropdown-content w3-bar-block w3-border">
                <a class="w3-bar-item w3-button w3-hover-light-grey" href="?stock=all">All Stock Items</a>
                <a class="w3-bar-item w3-button w3-hover-light-grey" href="?stock=low">Low Stock Items</a>
            </div>
        </div>
        <div style="padding:20px;display:inline;"></div>
        <div class="w3-dropdown-hover w3-white">
            Sort By
            <i class="fa fa-caret-down"></i>
            <div id="dropdown" class="w3-dropdown-content w3-bar-block w3-border">
                <a class="w3-bar-item w3-button w3-hover-light-grey" href="?sort=item">Item Name</a>
                <a class="w3-bar-item w3-button w3-hover-light-grey" href="?sort=store">Store</a>
                <a class="w3-bar-item w3-button w3-hover-light-grey" href="?sort=expiration">Expiration Date</a>
            </div>
        </div>
        <div class="container-icons">
            Date Time:
            {% now "m/d/y H:i:s" %}
            <button id="btnZoom" type="button" class="fa fa-plus-square" data-toggle="modal" data-target="#myModal"
                    href="/inventory/update/"></button>
            {#        <a id="btnZoom" class="fa fa-plus-square" href="/admin/littlebytes/inventory/add/"></a>#}
        </div>
    </h2>
{% endblock %}
{% block tbheader %}
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Store</th>
    <th>Unit</th>
    <th>Unit Price</th>
    <th>Date Expire</th>
    <th>Last Updated</th>
{% endblock %}
{% block tbbody %}
    {% for item in query_results %}
        <tr>
            <td>{{ item.name.name }}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.store }}</td>
            <td>{{ item.name.unit }}</td>
            <td>{{ item.cost_per_unit }}</td>
            <td>{{ item.date_exp }}</td>
            <td>{{ item.date_enter }}</td>
        </tr>
    {% endfor %}
{% endblock %}
