{% load staticfiles %}
<html>
<head>
    <title>Update Inventory</title>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/util.css' %}">
    <!--===============================================================================================-->
</head>
<body>
{% if user.is_authenticated %}
{% else %}
    <a href="{% url 'login' %}" class="navigation-link-btn">Login</a>
{% endif %}
{% ifnotequal error "" %}
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>{{error}}</th>
            </tr>
            {% ifnotequal item.name "" %}
                <tr>
                    <th>You can
                        <a href="{% url 'inventory_update' %}" class="login100-form-credits">Add another item</a>
                        or check your
                        <a href="{% url 'inventory' %}" class="login100-form-credits">Inventory</a>
                        to see changes.
                    </th>
                </tr>
                </thead>
            {% endifnotequal %}
        </table>
    </div>
{% else %}
    <form method="post" id="form_add" action="/inventory/update/">{% csrf_token %}
        <input type="hidden" name="confirm" value=""></input>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-t-85 p-b-80">
                    <form class="login100-form">
        <span class="login100-form-title p-b-10">
            Update Inventory
        </span>
                        <div class="validate-input m-t-25 m-b-35">
                            <div class="input-label">Ingredient Name:</div>
                            <select class="full_select" name="ingredient" required>
                                {% for ingredient in ingredients %}
                                    <option value="{{ingredient.name}}">{{ingredient}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="validate-input m-b-35">
                            <div class="input-label">Store:</div>
                            <select class="full_select" name="store" required>
                                {% for store in stores %}
                                    <option value="{{store.id}}">{{store}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="wrap-input100 validate-input m-b-35">
                            <div class="input-label">Cost per unit (dollars):</div>
                            <input name="cost_p_u" class="w3-input" type="number">
                        </div>
                        <div class="wrap-input100 validate-input m-b-35">
                            <div class="input-label">Quantity:</div>
                            <input name="stock" class="w3-input" type="number">
                        </div>
                        <div class="wrap-input100 validate-input m-b-50">
                            <div class="input-label">Date expire:</div>
                            <input name="date_exp" class="w3-input" type="date">
                        </div>
                        <div class="container-login100-form-btn login100-form-btn">
                            <input type="submit" class="navigation-link-btn" value="Update"
                                   onclick="document.getElementById('form_add').submit()"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
{% endifnotequal %}
</body>
</html>