{% extends 'littlebytes/base_main.html' %}
{% block title %}
    <title>Sale Records</title>
{% endblock %}
{% block nvgbtn %}
    <div class="btn-navigate-group">
        <button>
            <a href="{% url 'logout' %}" class="navigation-link-btn" >
                Logout
            </a>
        </button>
        <button>
            <a href="{% url 'reports' %}" class="navigation-link-btn">
                Reports
            </a>
        </button>
        <button>
            <a href="{% url 'inventory' %}" class="navigation-link-btn">
                Inventory
            </a>
        </button>
    </div>
{% endblock %}
{% block nvgbar %}
    <h1 class="login100-form-title">LittleBytes Sale Records</h1>
    <h2>
        <div class="w3-dropdown-hover w3-white">
            Sort By
            <i class="fa fa-caret-down"></i>
            <div id="dropdown" class="w3-dropdown-content w3-bar-block w3-border">
                <a class="w3-bar-item w3-button w3-hover-light-grey" href="?sort=store">
                    Store
                </a>
                <a class="w3-bar-item w3-button w3-hover-light-grey" href="?sort=date">
                    Most Recent Transaction
                </a>
            </div>
        </div>
        <div class="container-icons">
            Date Time:
            {% now "m/d/y H:i:s" %}
            <button type="button" class="fa fa-question-circle" style ="padding-left:20px; transform:scale(1.8)"
                    data-toggle="modal" data-target="#helpModal" href="/help/"></button>
            <a id="btnZoom" class="fa fa-plus-square" href="/sales/add/"></a>
    </h2>
{% endblock %}
{% block tbheader %}
    <th>Transaction Number</th>
    <th>Store</th>
    <th>Type</th>
    <th>Cost</th>
    <th>Gross Price</th>
    <th>Tax Rate</th>
    <th>Date Added</th>
{% endblock %}
{% block tbbody %}
    {% for item in query_results %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.store }}</td>
            <td>{% ifequal item.transaction_type "w" %}Walk-in{% else %}Catering{% endifequal %}</td>
            <td>{{ item.cost }}</td>
            <td>{{ item.gross }}</td>
            <td>{{ item.store.tax }}</td>
            <td>{{ item.date }}</td>
        </tr>
    {% endfor %}
{% endblock %}