



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Poppins-Italic;
  src: url('../fonts/Poppins-Italic.ttf');
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 15px;
	line-height: 1.7;
	color: #656565;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #292929;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 0;
	color: #666666;
	margin: 0px;
	text-align: center;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

hr {
    border-color: #00b3b3;
    border-width: 2px;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
/*---------------------------------------------*/
h1{
  font-family: Poppins-SemiBold;
  font-size: 40px;
  color: #0a0a0a;
  text-align: left;
  margin-bottom: 10px;
}

h2{
  font-family: Poppins-Medium;
  font-size: 20px;
  color: #0a0a0a;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hidden {
    display: none;
}

h3{
  font-family: Poppins-Medium;
  font-size: 20px;
  color: #0a0a0a;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #57b846;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login/Register ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  padding: 15px;
  background: #fff;  
}

.wrap-login100 {
  width: 450px;
  background: #fff;
}

/*------------------------------------------------------------------
[ Error ]*/

.login-error-notification {
  color: red;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}
/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  font-family: Poppins-SemiBold;
  font-size: 40px;
  color: #333333;

}

.login100-form-credits {
  font-family: Poppins-Italic;
  font-size: 16px;
  color: #999999;
  text-align: right;
}
.login-register-help-txt {
  font-family: Poppins-Italic;
  font-size: 12px;
  color: #999999;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.input100 {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #555555;
  line-height: 3;

  display: block;
  width: 100%;
  height: 52px;
  background: transparent;
  padding: 0 5px;
}
.input-label{
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #858585;
}

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #00b3b3;
}

.focus-input100::after {
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #c4c4c4;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color:  #00b3b3;
  border-radius:25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover  {
  background-color: #008080;
}

/*------------------------------------------------------------------
[ Icons ]*/

.material-icons{
    font-size:30px;
}

#btnZoom{
  padding-left:20px;
  transform: scale(1.8);
}

.container-icons{
  float: right;
}
/*------------------------------------------------------------------*/

.container-upload-btn{
  border-radius: 25px;
  border: 2px dashed #00cccc;
  padding: 20px; 
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 150px;
  display: flex;

}

.container-upload-btn:hover{
  background-color: #f2f2f2;
}

.container-scan-btn{
  border-radius: 25px;
  border: 2px dashed #00cccc;
  padding: 20px; 
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 150px;
  display: flex;
}

.container-scan-btn:hover{
  background-color: #f2f2f2;
}

/*------------------------------------------------------------------*/
.btn-navigate-group button {
    background-color: #00b3b3; /* Green background */
    color: white; /* White text */
    padding: 10px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
    font-family: Poppins-Medium
    font-size:16px;
    border-radius: 25px;
    width: 10%

}

.btn-navigate-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-navige-group:after {
    content: "";
    clear: both;
    display: inline;
}

/* Add a background color on hover */
.btn-navigate-group button:hover {
    background-color: #008080;
}

.navigation-link-btn{
    font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  background-color: #00000000;
  text-transform: uppercase;
  text-decoration-line: none;
}
/*------------------------------------------------------------------
[ Select Box]*/
.full_select{
   -webkit-box-shadow: 0px 2.5px 1px #d9d9d9;
   border: 1px solid #AAA;
   margin-top: 10px;
   padding: 5px 100px;
   text-overflow: ellipsis;
   width: 100%;
   height: 40px;
}
/*------------------------------------------------------------------
[Link]*/
.navigation-link{
    padding: 10px;
    font-family: Poppins-Medium;
    color: #292929;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;

}
.navigation-link:hover{
    color: #c4c4c4;
}

/*------------------------------------------------------------------
[ Icon]*/
.container-form-icon{
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 110px;
}
/*------------------------------------------------------------------
[ Table ]*/
table{
  width:100%;
  table-layout: fixed;
}

.tbl-header{
  font-family: Poppins-Medium;
  background-color: #f2f2f2;
 }

.tbl-content{
  font-family: Poppins-Regular;
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  color: #0a0a0a;
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 13px;
  color: #0a0a0a;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  border-bottom-color: #e2e2e2;
}

/*//////////////////////////////////////////////////////////////////
[ Login more ]*/
.login-more li {
  position: relative;
  padding-left: 16px;
}

.login-more li::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #cccccc;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
/*//////////////////////////////////////////////////////////////////
[ Style ]*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
html, body{
  background-color: #ffff;
}
section{
  margin: 100px;
}