{% extends 'littlebytes/base_add.html' %}
{% block title %}
    <title>Login</title>
{% endblock %}
{% block errormsg %}
    <div class="login-error-notification">Your username and password didn't match. Please try again.</div>
{% endblock %}
{% block formPost %}
    <form method="post" action="{% url 'login' %}">
{% endblock %}
{% block header %}
    <span class="login100-form-title p-b-70">LittleBytes</span>
    <div class="login100-form-credits">@teamexcalibur</div>
{% endblock %}
{% block body %}
    <div class="wrap-input100 validate-input m-t-65 m-b-35">
        <div class="input-label">Username</div>
        {{ form.username }}
        <span class="focus-input100" data-placeholder=""></span>
    </div>
    <div class="wrap-input100 validate-input m-b-70">
        <div class="input-label">Password</div>
        {{ form.password }}
        <span class="focus-input100" data-placeholder=""></span>
    </div>
    <div class="container-login100-form-btn login100-form-btn validate-input m-b-30">
        <input class="navigation-link-btn" type="submit" value="login"/>
        <input type="hidden" name="next" vaxlue="{{ next }}" />
    </div>
    <p>
        <a href="{% url 'password_reset' %}" class="login100-form-credits">Forgot your password?</a>
    </p>
{% endblock %}